#container-slider
  =image_tag("slider-1.png")

#container-match-overview
  .container
    .container-top.active
      %h2
        Actieve kunstwedstrijden
      %p
        deelnemen aan de wedstrijd
    .container-information
      .content
        %span
          Wedstrijd:
        %h3
          Naam
        %p
          Sponsor naam
        %p
          Einde inschrijving: 14-08-2014
      =image_tag  "logo-drents.png", :class => "logo"
      %a{:href => "/", :class => "more-info"}Meer weten
      %a{:href => "/", :class => "participate"}Deelnemen aan de wedstrijd

    .container-information
      .content
        %span
          Wedstrijd:
        %h3
          Naam
        %p
          Sponsor naam
        %p
          Einde inschrijving: 14-08-2014
      =image_tag  "logo-drents.png", :class => "logo"
      %a{:href => "/", :class => "more-info"}Meer weten
      %a{:href => "/", :class => "participate"}Deelnemen aan de wedstrijd

  .container
    .container-top.vote
      %h2
        Stembare kunstwedstrijden
      %p
        deelnemen aan de wedstrijd
    .container-information
      %span
        Wedstrijd:
      %h3
        Naam
      =image_tag("dali-1.png") 
      %p
        Einde stemronde: 14-07-2014
      %a{:href => "/", :class => "more-info"}Ingezonden kunst
      %a{:href => "/", :class => "participate"}Breng je stem uit

    .container-information
      %span
        Wedstrijd:
      %h3
        Naam
      =image_tag("dali-1.png") 
      %p
        Einde stemronde: 14-07-2014
      %a{:href => "/", :class => "more-info"}Ingezonden kunst
      %a{:href => "/", :class => "participate"}Breng je stem uit


  .container
    .container-top.winner
      %h2
        Recente winnaars
      %p
        deelnemen aan de wedstrijd
    .container-information
      %span
        Wedstrijd:
      %h3
        Naam
      =image_tag("winner.png") 
      %a{:href => "/", :class => "more-info"}Kunstwerk bekijken
      %a{:href => "/", :class => "participate"}Portfolio bekijken
      
