#container-slider
  =image_tag("slider-1.png")

#container-match-overview
  .container.active
    %h2
      Actieve kunstwedstrijden
    %p
      deelnemen aan de wedstrijd
    .container-information
      %span
        Wedstrijd:
      %h3
        Naam
      %p
        Sponsor naam
      %p
        Einde inschrijving: 14-08-2014
      =image_tag("logo-drents.png")

  .container.vote
    %h2
      Stembare kunstwedstrijden
    %p
      deelnemen aan de wedstrijd
  .container.winner
    %h2
      Recente winnaars
    %p
      deelnemen aan de wedstrijd