<!DOCTYPE html>
<html>
	<body>
		<h1>Hallo <%= @user.name %> </h1>
		<p>
			Hier is uw verificatiecode<br /> <%= @user.authentication_token %>
		</p>
		<p>
			<a href="localhost:3000/checktoken">Klik hier om uw token in te voeren</a>
		</p>
	</body>
</html>