<!DOCTYPE html>
<html>
	<body>
		<h1>Hallo <%= @user.name %> </h1>
		<p>
			Hier is uw verificatiecode<br /> <%= @user.authentication_token %>
		</p>
		<p>
			<%= link_to 'Klik hier om in te voeren', checktoken_path %>
		</p>
	</body>
</html>