// Imports
@import "compass/css3"
@import "compass/reset"

@import "companimation"
@import "companimation/preset/fade/fadeIn"
@import "companimation/preset/fade/fadeInUp"
@import "companimation/preset/bounce/bounceIn"
@import "companimation/preset/filters/blurInDown"

// Stuff
div, a
  @include box-sizing(border-box)

// Mixins
@mixin menu-icon
  display: inline-block
  padding: 15px
  float: left
  border-radius: 50%
  margin: -8px 10px 0 0

@mixin prize
  display: inline-block
  background-color: $orange
  padding: 5px 10px
  float: left
  border-radius: 50%
  color: $white
  font-size: 1.3em

@mixin field_with_errors
  @extend %fadeIn
  @include animation-duration( 2s )
  border: 2px solid #ff0000

// Variables
$black:         #000000
$white:         #FFFFFF
$beige:         #FFECEC
$darkest-grey:  #2d2d2d
$dark-grey:     #626262
$light-grey:    #F7F7F7
$grey:          #E9E9E9
$lime-green:    #67F784
$dark-green:    #38EA6D
$blue:          #51a4c7
$orange:        #ff6602

// ========== //
// Html, Body // 
// ========== //

body,html
  font-family: 'Muli', sans-serif
  background: $beige
  height: 100%
  overflow-y: hidden

// ======= //
// General // 
// ======= //

#container-content
  padding: 0 5%
  height: 100%
  overflow: auto
  overflow-x: hidden

// ====== //
// Header // 
// ====== //

#header
  z-index: 2
  position: fixed
  font-size: 0.9em
  width: 100%
  height: 60px
  padding: 25px 5%
  background-color: $white
  &>div
    padding-right: 5%
    float: left
  a
    color: $black
    text-decoration: none

  @each $icon in register, login
    ##{$icon} span 
      background: url('icon-#{$icon}.png') $blue no-repeat 7px 7px

  #menu
    &>a
      display: inline-block
      span
        display: inline-block
        background-color: $blue
        border-radius: 50%
        padding: 5px 9px
        color: $white
        font-size: 1.3em
        margin: -7px 0 0 10px
    ul
      position: absolute
      width: 245px
      z-index: 2
      margin-left: -165px
      background-color: $white
      padding: 0px 20px
      @include box-sizing(border-box)
      li
        border-bottom: 1px solid $grey
        width: 100%
        float: left
        a
          display: inline-block
          width: 100%
          padding: 30px 0px
          &:hover
            color: $lime-green 
        &:last-child
          background: url(icon-close.png) no-repeat 175px 32px

  #login, #register
    float: right
    span
      @include menu-icon

  #register
    padding: 0%

  #login
    button
      padding: 20px
      background: $darkest-grey
      float: right
      color: $white
      border: none
      margin-top: -15px
    &>a
      height: 46px
      display: inline-block
    input
      font-style: italic
      padding: 20px
      margin-bottom: 30px
      margin-top: 15px
      width: 100%
      @include box-sizing(border-box)
    ul
      @include box-sizing(border-box)
      background: $white
      width: 350px
      z-index: 2
      padding: 20px
      position: absolute

  #search
    width: 40% 
    margin: 0 auto
    float: none
    @include box-sizing(border-box)
    input
      text-align: center
      margin: -8px 0px
      background-color: $dark-grey
      color: $white
      padding: 7px 15px
      font-family: Calibri
      font-style: italic
      border-radius: 15px 0 0 15px
      width: 78%
      float: left
    button
      float: left
      margin: -8px 0px
      background: url(icon-search.png) $orange no-repeat 7px 6px
      border: none
      padding: 15px 17px
      border-radius: 0 15px 15px 0

// ======== //
// Homepage // 
// ======== //

#container-slider
  width: 112%
  margin-left: -6%
  margin-bottom: 30px
  img
    max-width: 100%

#container-match-overview
  position: relative
  div:first-child
    .content
      width: 80%
    img
      width: 20%

  .content
    img
      width: 100% 
  div
    width: 100%
    float: left
  .container
    width: 31%
    margin-right: 3%
    color: $white
    .container-top
      padding: 15px 0px 0px 75px
      height: 80px
    @each $icon in brush, check, star
      .#{$icon}
        background: url('icon-#{$icon}.png') $darkest-grey no-repeat 20px 20px
  .active
    .container-overlay
      position: absolute
      background-color: $white
      width: 100%
      left: 0
      top: 100px
      color: $black
      padding: 20px
      .content
        width: 40%
        #prize 
          li
            float: left
            clear: both
            width: 100%
          span
            @include prize

  .vote
    .container-overlay

  .winner
    margin: 0
    .container-overlay

  .container-information
    margin-top: 20px
    padding: 20px
    background-color: $white
    color: $black
    float: left
    width: 100%
    .content
      width: 80%
      float: left
    img
      width: 100%
      padding: 10px 0
    .logo
      padding: 0px 
      width: 20%
      float: left
    span
      font-style: italic
      float: left
    a
      margin-top: 15px
      padding: 10px 15px
      color: $white
      border-radius: 30px
      text-decoration: none
      float: left
    span
      margin-right: 5px
      float: left
    .content
      img
        width: 100%

    .more-info
      background-color: $orange
      margin-right: 20px

    .participate
      background-color: $blue
    

// General stuff

#match-info
  margin-bottom: 30px
  width: 100%
  display: inline-block
  div:first-child
    float: left

#btn-vote
  float: right
  padding: 30px
  background: $lime-green
  color: $white
  cursor: pointer

.start-match
  th
    padding: 10px
    margin-right: 30px
    width: 15%
  td
    background: $grey
    border-left: 1px solid $lime-green
    padding: 10px
  #title
    width: 10%
  #description
    width: 30%
  #prize
    width: 20%
  #deadline
    width: 10%
  #username
    width: 10%

.edit-match
  .field
    padding: 20px
  input
    padding: 20px
    border: 1px solid $dark-grey
  label 
    width: 150px
    display: inline-block

h1
  font-size: 2em
  padding-bottom: 30px
  font-family: Calibri
  color:  rgba(0, 0, 0, 0.4)
  font-size: 30px
  font-weight: 400
  line-height: 0.933

div, input, textarea
  border: none



.item
  width: 19%
  margin: 1% 1% 0% 0%
  border-right: 1px solid $dark-grey
  border-bottom: 1px solid $dark-grey
  a img
    width: 100%
  .art-name
    font-size: 1.5em
    display: inline-block
    float: left
    padding: 30px 20px
    text-decoration: none
    color: $black
    width: 80%
    &:hover
      color: $lime-green
  span
    @include box-sizing(border-box)
    padding: 30px 3px
    text-align: center
    float: right
    width: 20%
    height: 50px
    border-left: 1px solid $dark-grey
    p
      background: $lime-green
      display: inline-block
      border-radius: 50px
      padding-top: 7px
      height: 23px
      width: 30px
      color: $white      

#bg-overlay
  background: rgba(153, 153, 153, 0.5)
  position: absolute
  margin-top: 60px
  left: 0
  z-index: 1
  width: 100%
  height: 100%


 

#attend-match
  margin-top: 20px
  padding: 20px
  border: 10px solid $dark-green
  width: 30%
  background-color: $light-grey
  margin: 0 auto
  & input[type="file"]
    position: relative
    z-index: 2
    -webkit-appearance: none 
    height: 175px
    width: 125px
    opacity: 0
    cursor: pointer
  h1
    width: 100%
    text-align: center
  form
    display: inline-block
    width: 100%
  label
    float: left

  #container-attend
    margin-right: 50px
    float: left
    #container-btn
      float: left
      width: 125px
      background-image: url('add-art.png')
      border: 2px solid $grey
      position: relative
      .field_with_errors
        position: relative
        z-index: 3
        float: left
        margin: -2px
        @include field_with_errors
      img
        position: absolute
        z-index: 1
        top: 0
        left: 0
        height: 175px
        width: 125px

  .field
    float: left
    width: 40%
    .field_with_errors
      input, textarea
        @include field_with_errors
    input, textarea
      clear: both
      float: left
      width: 100%
      padding: 10px
      margin-bottom: 25px
      border: 2px solid $grey
      @include box-sizing(border-box)
      &:focus
        border: 2px solid $dark-green
        outline: 0

    #btn
      background-color: $lime-green
      border: 5px solid $dark-green

    textarea
      height: 150px

#container-vote
  padding: 20px
  width: 80px
  margin: 0 auto
  background: $light-grey
  border: 5px solid $dark-green
  cursor: pointer

  .vote
    float: left
    clear: both
    margin: 30px
    padding: 20px
    background-color: $light-grey
 
/* The ghost, nudged to maintain perfect centering */
#container-art-bg:before
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -0.25em /* Adjusts for spacing */

/* The element to be centered, can
   also be of any width and height */ 

#container-art-bg
  text-align: center
  display: inline-block
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)

  #container-art
    width: 95%
    left: 0
    right: 0
    margin: 0 auto
    z-index: 2
    padding: 20px
    background-color: $white
    height: 600px 
    overflow: hidden
    display: inline-block
    vertical-align: middle
    h1
      width: 100%
      text-align: center
    .art
      margin-right: 2%
      margin-left: 2%
      margin-bottom: 20%
      position: relative
      float: left
      width: 29%
      a
        width: 100%
        text-align: center
        display: inline-block
        color: #fff
        text-decoration: none
      img
        border: 5px solid $black
        float: left
        cursor: pointer
        width: 100%
    .the-one
      float: left
      border: 5px solid $lime-green!important
    #container-thanks
      clear: both

#wrapper
  width: 700px
  margin: auto
  margin-top: 100px

#content-left 
  width: 300px
  float: left

  h3
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    font-weight: 500
    margin: 20px 0 10px 0

  input
    width: 280px
    height: 50px
    padding: 0 0 0 20px

  .borderFail
    border: solid 5px #E80000

  textarea
    width: 260px
    height: 150px
    padding: 20px 20px 0 20px
    line-height: 24px

  input, textarea
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    border: 1px solid $darkest-grey

#content-right 
  width: 300px
  float: right

  h3
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    font-weight: 500
    margin: 20px 0 10px 0
  
  input
    width: 100%
    height: 50px
    padding: 0 0 0 20px
    border: 1px solid $darkest-grey
    @include box-sizing(border-box)

  .borderFail
    border: solid 5px #E80000

  #sortable  
    //list-style-type: none
    margin: 0 
    padding: 0 
    width: 400px
  
  #sortable li  
    margin: 0 5px 5px 5px 
    padding: 10px 
    font-size: 1.2em 
    height: 72px
    @include box-sizing(border-box)

  html>body #sortable li  
    height: 1.5em 
    line-height: 1.2em
  
  .ui-state-default
    background: #fff
    // background-image: url('arrowUpDown.png')
    background-repeat: no-repeat
    background-position: 330px 13px
    cursor: pointer

  .ui-state-highlight
    background: #fff
    border: #fff 1px solid 
    height: 1.5em 
    line-height: 1.2em

  .closetag
    width: 10px
    height: 10px
    background: #E80000
    float: right
    margin: 0 -30px 0 0

  #addPrise
    font-size: 16px
    font-family: 'Open sans', sans-serif
    background: #333
    color: #fff
    font-weight: 400
    width: 200px
    padding: 10px
    margin: 10px 0 0 10px
    text-align: center
    cursor: pointer


#btn
  width: 700px
  clear: both
  input
    width: 280px
    height: 50px
    margin: 50px 0 0 400px
    padding: 0 0 0 20px


#container-winners
  margin-right: 5%
  float: left
  width: 65%
  margin-right: 5%
  #view
    img
      width: 100%
      max-height: 100%
  #container-elements
    position: relative
    float: left
    background: $white
    width: 100%
    #container-bottom
      width: 100%
      text-align: center
      margin: 0 auto
      #container-painter
        display: inline-block
        padding: 5px
        margin-right: 5%
        img
          float: left
        p
          float: left
          span
            margin-left: 15px
            font-family: "Times New Roman"
            color: #000000
            font-size: 18px
            font-weight: 400
            text-decoration: underline
            float: left
          span + span
            clear: both
            float: left
            font-family: Calibri
            color: #000000
            font-size: 16px
            font-style: italic
            text-decoration: none
            margin-top: 5px
        a
          margin-top: 8px
          text-decoration: none
          display: inline-block
          font-size: 14px
          background-color: #84d0f0
          border-radius: 15px
          padding: 5px 20px
          color: $white
          margin-left: 20px
          border: none
      #container-painting
        display: inline-block
        padding: 5px
        p
          float: left
          span
            float: left
            font-family: "Times New Roman"
            color:  #000000
            font-size: 18px
            font-weight: 400
          span + span
            clear: both
            float: left
            font-family: Calibri
            color: #000000
            font-size: 16px
            font-style: italic
            margin-top: 5px
    #prev
      background-image: url(arrow-prev.png)
      background-position: center center
      background-repeat: no-repeat
      display: inline-block
      padding: 30px
      left: 0
      top: 0
      border-right: 1px solid $grey
      position: absolute

    #next
      background-image: url('arrow-next.png')
      background-position: center center
      background-repeat: no-repeat
      display: inline-block
      padding: 30px
      right: 0
      top: 0
      position: absolute
      border-left: 1px solid $grey


#container-newmatch
  padding: 2%
  width: 25%
  height: 100%
  float: left
  img
    margin: 20px auto
    max-width: 100%
  p
    clear: both
    font-family: Calibri
    color: #000000
    font-size: 16px
    float: left
  h2
    font-family: "Times New Roman"
    color: #000000
    font-size: 18px
    margin: -2px 15px
    display: inline-block
    text-decoration: underline
  a
    margin-top: 60px
    text-decoration: none
    display: inline-block
    font-size: 14px
    background-color: #84d0f0
    border-radius: 15px
    padding: 5px 20px
    color: $white
    margin-left: 20px
    border: none
    clear: both
    float: right

#container-search
  height: 100%
  width: 100%
  float: left
  text-align: center
  background-color: $white
  padding: 1%
  margin-bottom: 30px
  p
    display: inline-block
    font-family: Calibri
    color: #8e8e8e
    font-size: 16px
    background-image: url('arrow-down.png')
    background-repeat: no-repeat
    background-position: 160px 0px
    padding: 10px 60px 10px 0px
    margin-right: 80px
    border-right: 1px solid $grey
  input
    font-family: Calibri
    color: #8e8e8e
    font-size: 16px
    padding: 20px
    border: 1px solid $grey
    width: 180px
  button
    display: inline-block
    font-size: 14px
    background-color: #84d0f0
    border-radius : 15px
    padding: 5px 20px
    color: $white
    margin-left: 20px
    border: none

#search-results
  height: 100%
  width: 100%
  float: left
  position: relative
  width: 100%
  float: left
  #sponsor
    float: left
    width: 10%
    margin-right: 5%
    margin-top: 1%
    img
      margin-top: 10px
      max-width: 100%
      clear: both
  .js-masonry
    float: right
    width: 85%
    .item
      border: none
      width: 19%
      img
        width: 100%

#feedback
  margin-right: 13px
  position: absolute
  right: 0
  top: 50%
  background-color: $light-grey
  z-index: 10
  cursor: pointer
  p
    color: $white
    padding: 5px
    background-color: $blue
    width: 12px
    float: right

  #feedback-form
    float: left
    border: 5px solid $blue
    width: 221px
    padding: 5px 5px 0px 5px
    input
      border: 2px solid $blue
      padding: 10px
      width: 175px
      margin-bottom: 15px
    textarea
      height: 150px
      border: 2px solid $blue
      padding: 10px
    .btn
      width: 200px
