

.error
  background-color: #ff0000
  color: #fff

.succes
  background: #00ff06
  color: #fff

body,html
  height: 100%
  width: 100%

body
  text-align: center

#attend-match
  margin-top: 20px
  padding: 20px
  border: 2px solid #000
  width: 30%
  display: inline-block
  h1
    width: 100%
    text-align: center

  #attend-button
    margin-right: 50px
    float: left
    #container-add-art
      float: left
      border: 1px solid grey
      background-image: url('../images/add-art.png')
    .error
      display: inline-block
      float: left
      clear: both
      padding: 10px


  form
    float: left

  label
    float: left

  input, textarea
    clear: both
    float: left
    width: 200px
    padding: 5px
    margin-bottom: 25px

#attend-button input[type="file"]
  -webkit-appearance: none 
  height: 175px
  width: 125px
  opacity: 0
  cursor: pointer