@import "compass/css3"

@mixin border5px
  border-radius: 5px

$light-grey: #F7F7F7
$lighter-grey: #E9E9E9
$lime-green: #67F784
$dark-green: #38EA6D

.field_with_errors
  input
    background-color: #ff0000
    color: #fff

.succes
  background: #00ff06
  color: #fff

body,html
  height: 100%
  width: 100%
  font-family: 'Muli', sans-serif
  background: $lime-green

div, input, textarea
  @include border5px
  border: none

#attend-match
  margin-top: 20px
  padding: 20px
  border: 10px solid $dark-green
  width: 30%
  
  background-color: $light-grey
  margin: 0 auto
  h1
    width: 100%
    text-align: center

  #attend-button
    margin-right: 50px
    float: left
    border: 1px solid $lighter-grey
    #container-add-art
      float: left
      border: 4px solid $light-grey
      background-image: url('add-art.png')
      background-repeat: no-repeat
      position: relative
      input
        float: left
      img
        border-width: 0px
        float: left
        width: 100%
        height: 100%
        position: absolute
        left: 0
    .error
      display: inline-block
      float: left
      clear: both
      padding: 10px


  form
    display: inline-block
    width: 100%

  label
    float: left

  .field
    float: left
    width: 40%
    input, textarea
      clear: both
      float: left
      width: 100%
      padding: 10px
      margin-bottom: 25px
      border: 2px solid $lighter-grey
      &:focus
        border: 2px solid $dark-green
        outline: 0

    #btn
      background-color: #67F784
      border: 5px solid #38EA6D

    textarea
      height: 150px

#attend-match input[type="file"]
  -webkit-appearance: none 
  height: 175px
  width: 125px
  opacity: 0
  cursor: pointer